.post-content {
  margin-bottom: 20px;
}

button:hover {
  background-color: #484848; /* Darker background color on hover */
}

select {
  display: inline-block;
  margin: 0 5px; /* Reduced margin for better mobile scaling */
  height: 40px; /* Reduced height for mobile */
  border: 1px solid #ccc;
  background-color: #333; /* Dark background color */
  color: #dcdcdc; /* Light gray text */
  padding: 0 10px;
}

select option {
  padding: 0 10px;
}

.pagination-button {
  border-radius: 7px;
  padding: 6px 14px;
  display: flex;
  font-size: 22px;
  align-items: center;
  justify-content: center;
  background: #484848; /* Darker background color */
  border: none;
  text-align: center;
  cursor: pointer;
  color: #dcdcdc; /* Light gray text */
}

.page-number-button {
  background-color: #7073d3;
}

.pagination-button:disabled {
  background: #777; /* Darker disabled button color */
  cursor: default;
}

.pagination-container {
  width: 100%;
  display: flex;
  justify-content: center; /* Centered pagination */
  flex-wrap: wrap; /* Wrap pagination buttons on smaller screens */
  gap: 5px; /* Reduced gap between buttons */
  margin-top: 20px;
}

.selected-page {
  background-color: #88b04b; /* AWS green for selected page */
}
